@import url("style.css");
  
body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

main{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 50vw;
    max-width: 400px;
    height: 20vh;
    border: 1px solid var(--color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
  }

form input{
    border: none;
    border-bottom: 1px solid var(--color);
    outline: none;
    width: 80%;
    background-color: transparent;
    padding-left: 3px;
    color: var(--color);
    z-index: 1000;
    padding: 5px;
    margin: 5px;
}
  
.conteudo{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
#submit{
    width: 80%;
}